.Alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Alert .MessageBox {
  width: 200px;
  height: 200px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: white;
}
